/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  /* body */
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --font-size-large: 18px;
  --font-family: 'IBM Plex Mono', monospace;
  /* header */
  --decor-color: #FF0070;
  --visibility: visible;
  --menu-color: #FF0070;
  --opacity-color: rgba(255 0 112 / 0.4);
  --title-color: #DB00FF;
  --text-bold: 700;
  --title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --accent-color: #FF0070;
  --accent-text-color: #000028;
  /* main */
  --main-title-color: #FF0070;
  --main-text-color: #F1B2CE;
}